; {{ ansible_managed }}

[PHP]
allow_url_fopen            = On
allow_url_include          = Off
auto_append_file           =
auto_globals_jit           = On
auto_prepend_file          =
default_charset            = "UTF-8"
default_mimetype           = "text/html"
default_socket_timeout     = 60
disable_classes            =
disable_functions          =
display_errors             = Off
display_startup_errors     = Off
doc_root                   =
enable_dl                  = Off
engine                     = On
error_log                  = /proc/self/fd/2
error_reporting            = E_ALL & ~E_DEPRECATED & ~E_STRICT
expose_php                 = On
file_uploads               = On
html_errors                = On
ignore_repeated_errors     = Off
ignore_repeated_source     = Off
implicit_flush             = Off
log_errors                 = On
log_errors_max_len         = 1024
max_execution_time         = 300
max_file_uploads           = 20
max_input_time             = 600
memory_limit               = -1
output_buffering           = 4096
post_max_size              = 32M
precision                  = 14
register_argc_argv         = Off
report_memleaks            = On
request_order              = "GP"
serialize_precision        = -1
short_open_tag             = Off
track_errors               = Off
unserialize_callback_func  =
upload_max_filesize        = 32M
user_dir                   =
variables_order            = "GPCS"
zend.enable_gc             = On
zend.exception_ignore_args = On
zlib.output_compression    = Off
