; {{ ansible_managed }}

[www]
access.log              = /proc/self/fd/2
catch_workers_output    = yes
clear_env               = no
decorate_workers_output = no
group                   = www-data
listen                  = 9000
listen.group            = www-data
listen.owner            = www-data
pm                      = static
pm.max_children         = 2
user                    = www-data
